{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}
{% load static %}


{% block content %}
    <title>Hasta La Vista, Money :D</title>
    <div class="container">
        <div class="display-2 text-center pt-3 text-light">
            Hasta La Vista, Money :D
        </div>

        <div class="row mt-5 justify-content-center">

        {% for receipt in receipts %}
            <div class="overflow-scroll bg-light rounded-3 m-1" style="border: 1px solid black; padding: 10px; border-radius: 50%; height: 230px">
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="receipt_id" value="{{ receipt.id }}">
                    <button type="submit" name="delete_button">Удалить</button>
                </form>
            <table>
              <thead>
                  <tr style="height: 5rem">
                      <th style="width: 50rem"><h4>Продавец: {{ receipt.customer.name_seller }}</h4></th>
                      <th style="width: 10rem">Дата и время: {{ receipt.receipt_date | date:"d.m.Y H:i" }}</th>
                      <th style="width: 10rem">Итоговая сумма: {{ receipt.total_sum }}</th>
                  </tr>
                <tr>
                  <th style="width: 50rem">Наименование товара</th>
                  <th style="width: 10rem">Цена</th>
                  <th style="width: 10rem">Количество</th>
                  <th>Сумма</th>
                </tr>
              </thead>
              <tbody>
                {% for product in receipt.product.all %}
                <tr>
                  <td>{{ product.product_name }}</td>
                  <td>{{ product.price }}</td>
                  <td>{{ product.quantity }}</td>
                  <td>{{ product.amount }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>

        {% endfor %}
        </div>
    </div>
{% endblock %}