{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}
{% load static %}


{% block content %}
    <title>Hasta La Vista, Money :D</title>
    <div class="container">
        <div class="display-2 text-center pt-3 text-light">
            Hasta La Vista, Money :D
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <div class="d-flex flex-row text-break justify-content-around h-25">
                    {% for receipt in receipts %}
                        <p class="m-2 bg-light rounded-3 p-1 w-50 overflow-scroll">
                            <span class="text-wrap d-block p-4">
                                <strong>Продавец:</strong> {{ receipt.name_seller }}<br><br>
                                <strong>Дата и время покупки:</strong> <br> {{ receipt.receipt_date }}<br>
                            </span>
                            {% for item in receipt.product_information %}
                                <span class="d-block px-4 py-2">

                                    <strong>Наименование:</strong> <br> {{ item.0 }}<br>
                                    <strong>Цена товара:</strong> {{ item.1 }}<br>
                                    <strong>Количество:</strong> {{ item.2 }}<br>
                                    <strong>Сумма:</strong> {{ item.3 }}<br>

                                </span>
                            {% endfor %}
                            <span class="d-block result px-4 pt-3">
                                <strong>Итог по чеку:</strong> {{ receipt.total_sum }}<br>
                            </span>
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}