{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load comma %}

{% block title %}{% translate 'Управляй финансами семьи грамотно!' %}{% endblock %}
{% block content %}
    <div class="container-fluid">
        {% include 'account/modals/add_account.html' %}
        {% include 'account/modals/exchange_money_account.html' %}
        {% include 'account/modals/statistics.html' %}
        {% include 'error_modal.html' %}
        <div class="row d-flex justify-content-between justify-content-xl-start mt-5">
            <div class="col-xl-4 t-5 pe-xl-5">
                <div class="account overflow-auto shadow rounded-4">
                    <div class="table-responsive">
                        <table class="table table-dark table-striped-columns table-sm text-center mb-0 table-borderless"
                               aria-label="table account">
                            <thead>
                            <tr class="align-middle">
                                <th scope="col">{% translate 'Название счёта' %}</th>
                                <th scope="col">{% translate 'Баланс счёта' %}</th>
                                <th scope="col">{% translate 'Валюта счёта' %}</th>
                                <th>
                                    <div class="d-flex justify-content-center">
                                        <button type="button"
                                                class="btn btn-outline-pink btn-sm m-1"
                                                data-bs-toggle="modal"
                                                data-bs-target="#add-account">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                width="16" height="16"
                                                fill="currentColor"
                                                class="bi bi-plus-lg"
                                                viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"></path>
                                            </svg>
                                        </button>
                                        <button type="button"
                                                class="btn btn-outline-info btn-sm m-1"
                                                data-bs-toggle="modal"
                                                data-bs-target="#exchange-account">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                width="16" height="16"
                                                fill="currentColor"
                                                class="bi bi-arrow-left-right"
                                                viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"></path>
                                            </svg>
                                        </button>
                                    </div>

                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for account in accounts %}
                                <tr class="text-center">
                                    <td>{{ account.name_account }}</td>
                                    <td class="text-nowrap">{{ account.balance | comma }}</td>
                                    <td class="text-nowrap">{{ account.currency }}</td>
                                    <td>
                                        <div class="table-buttons">
                                            <a href="{{ account.get_absolute_url }}"
                                               class="change-object-button btn btn-outline-primary border-0 btn-sm">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     width="16" height="16"
                                                     fill="currentColor"
                                                     class="bi bi-pencil-fill"
                                                     viewBox="0 0 16 16">
                                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"></path>
                                                </svg>
                                            </a>
                                            <form class="m-0" method="post"
                                                  action="{% url 'account:delete_account' account.id %}">
                                                {% csrf_token %}
                                                <button class="remove-object-button btn btn-outline-danger border-0 btn-sm"
                                                        data-nonce="{{ request.csp_nonce }}"
                                                        type="submit"
                                                        name="delete_account_button">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                         width="12" height="12"
                                                         fill="currentColor"
                                                         class="bi bi-x-lg"
                                                         viewBox="0 0 16 16">
                                                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"></path>
                                                    </svg>
                                                </button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr class="text-center">
                                    <td colspan="4">{% translate 'Счета ещё не созданы!' %}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 text-center">
                <button type="button"
                        class="btn btn-purple btn mt-2 mt-xl-0 fs-6"
                        data-bs-toggle="modal" data-bs-target="#statistics">
                    {% translate 'Общая статистика пользователя ' %}{{ user.username }}
                </button>
            </div>

        </div>
    </div>
{% endblock %}
