{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% translate 'Изменить счёт' %}{% endblock %}
{% block content %}
    <div class="container position-relative">
        <div class="row">
            <div class="col-xl-6 position-absolute top-0 mt-5 start-50 translate-middle-x text-light">
                <form class="form" method="post">
                    {% csrf_token %}
                    {{ add_account_form | crispy }}
                    <div class="wrapper-button-change-account position-relative">
                        <button type="submit" class="btn btn-primary">{% translate 'Сохранить' %}</button>
                        <a class="btn btn-warning text-light position-absolute end-0" href="{% url 'applications:list' %}">{% translate 'Вернуться назад' %}</a>
                    </div>

                </form>
            </div>
            <!-- /.col-xl-12 d-flex justify-content-center -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
{% endblock %}
