-r requirements/prod.txt
mkdocstrings-python==1.11.1 ; python_full_version >= "3.11.2" and python_full_version < "4.0.0"
mkdocstrings==0.26.1 ; python_full_version >= "3.11.2" and python_full_version < "4.0.0"
mkdocstrings[python]==0.26.1 ; python_full_version >= "3.11.2" and python_full_version < "4.0.0"
