{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load comma %}



{% block content %}
    <title>{% translate 'Страница приложений' %}</title>
    <div class="container-fluid">
        {% include 'header.html' %}

        <div class="row">
            <div class="col-xl-12 d-flex justify-content-end pe-5">
                <div class="account bg-light border border-primary border-2 rounded-4">

                        <table class="table table-hover table-borderless">
                            <thead>
                                <tr>
                                    <th>Название счёта</th>
                                    <th>Баланс счёта</th>
                                    <th>Валюта счёта</th>
                                    <th>Добавить счёт</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for account in accounts %}
                                    <tr class="text-center">
                                        <td>{{ account.name_account }}</td>
                                        <td>{{ account.balance | comma }}</td>
                                        <td>{{ account.currency }}</td>
                                        <td></td>
                                    </tr>
                                {% endfor %}
                            </tbody>


                        </table>




                </div>

            </div>
        </div>
    </div>
{% endblock %}