{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load comma %}



{% block content %}
    <title>{% translate 'Страница приложений' %}</title>
    <div class="container-fluid">
        <div id="add-account" class="modal fade" >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Добавить счёт
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="form" method="post">
                            {% csrf_token %}
                            {% bootstrap_form add_account_form layout='horizontal' %}
                            {% bootstrap_button 'Добавить счёт' %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 d-flex justify-content-end mt-5 pe-5">
                <div class="account pos bg-light border border-primary border-2 rounded-4">
                    <table class="table table-hover mb-0 table-borderless" aria-label="table account">
                        <thead>
                            <tr>
                                <th class="align-middle">Название счёта</th>
                                <th class="align-middle">Баланс счёта</th>
                                <th class="align-middle">Валюта счёта</th>
                                <th><button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#add-account">Добавить счёт</button></th>
                            </tr>
                        </thead>
                        <tbody class="align-middle">
                            {% for account in accounts %}
                                <tr class="text-center">
                                    <td>{{ account.name_account }}</td>
                                    <td>{{ account.balance | comma }}</td>
                                    <td>{{ account.currency }}</td>
                                    <td class="position-relative">
                                        <form method="post" action="{% url 'applications:delete_account' account.id %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="account_id" value="{{ account.id }}">
                                            <button class="remove-object-button btn position-absolute top-50 start-50 translate-middle btn-outline-danger border-0 btn-sm" data-nonce="{{request.csp_nonce}}" type="submit" name="delete_account_button">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"></path>
                                                </svg>
                                            </button>
                                        </form>
                                    </td>
                                </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 mt-5">
                <table class="table caption-top table-hover text-center justyfy-content-center table-bordered text-light" aria-label="table about receipts">
                    <caption class='text-danger'>Статистика по чекам</caption>
                    <tr>
                        <th>
                            Период
                        </th>
                        <th>
                            Количество чеков
                        </th>
                        <th>
                            Сумма
                        </th>
                        <th>
                            Счёт
                        </th>
                    </tr>
                    {% for receipt in receipt_info_by_month %}
                        <tr>
                            <td class="col-3">{{ receipt.month | date:"F Y" }}</td>
                            <td class="col-2">{{ receipt.count }}</td>
                            <td class="col-3">{{ receipt.total_amount | comma }}</td>
                            <td class="col-3">{{ receipt.account__name_account }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-xl-4">
                <table class="table caption-top table-expense table-hover align-middle text-center text-light table-bordered" aria-label="table expense">
                    <caption class="text-danger">Статистика по расходам</caption>
                    <tr>
                        <th>Категория</th>
                        <th>Дата</th>
                        <th>Сумма</th>
                        <th>Счёт</th>
                    </tr>
                    {% for expense in expenses %}
                        <tr>
                            <td>{{ expense.category__name }}</td>
                            <td>{{ expense.date | date:'F Y' }}</td>
                            <td>{{ expense.amount | comma }}</td>
                            <td>{{ expense.account__name_account }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <!-- /.col-xl-4 -->
            <div class="offset-xl-2 col-xl-4">
                <table class="table caption-top table-hover text-center align-middle table-bordered border-ligth align-middle mb-0 text-light" aria-label="table income">
                    <caption class="text-danger">Статистика по доходам</caption>
                    <thead>
                        <tr>
                            <th class="col-2">Категория дохода</th>
                            <th class="col-2">Период</th>
                            <th class="col-2">Сумма</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for income in income_by_month %}
                            <tr>
                                <td class="col-2">{{ income.category }}</td>
                                <td class="col-2">{{ income.date | date:"F Y" }}</td>
                                <td class="col-2">{{ income.amount | comma }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.offset-xl-2 col-xl-4 -->
        </div>
        <!-- /.row -->
    </div>
{% endblock %}