{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}
{% load static %}
{% load csp %}
{% load comma %}



{% block content %}
    <title>Список чеков</title>

    <div class="container-fluid">
        {% include 'header.html' %}
    </div>
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="link-wrapper p-0">
                <a class="add-receipt-button btn btn-outline-danger" href="{% url 'receipts:create' %}">Добавить чек вручную</a>
            </div>
            {% for receipt in receipts %}
            <div class="receipt bg-light rounded-3 m-1">
                <form  action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="receipt_id" value="{{ receipt.id }}">
                    <button class="remove-button" data-nonce="{{request.csp_nonce}}" type="submit" name="delete_receipt_button">
                        <span class="top"></span>
                        <span class="bot"></span>
                    </button>
                </form>

                <table>
                  <thead>
                      <tr>
                          <th class="col-xl-6"><h4>Продавец: {{ receipt.customer.name_seller }}</h4></th>
                          <th class="col-xl-2">Дата и время: {{ receipt.receipt_date | date:"d.m.Y H:i" }}</th>
                          <th class="col-xl-2">Итоговая сумма: {{ receipt.total_sum | comma }}</th>
                      </tr>
                      <tr>
                          <th>Наименование товара</th>
                          <th>Цена</th>
                          <th>Количество</th>
                          <th>Сумма</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for product in receipt.product.all %}
                    <tr>
                      <td>{{ product.product_name }}</td>
                      <td>{{ product.price | comma }}</td>
                      <td>{{ product.quantity }}</td>
                      <td>{{ product.amount | comma }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}