{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}
{% load static %}
{% load csp %}
{% load comma %}


{% block title %}{% translate 'Список чеков' %}{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% include 'error_modal.html' %}
        <div id="add-customer" class="modal modal-lg fade ajax-modal" >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Добавить нового продавца
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="ajax-form m-2" method="POST" action="{% url 'receipts:create_customer' %}">
							{% csrf_token %}
							{% if seller_form %}
							        {% for field in seller_form %}
							            <div class="form-group {% if field.errors %} has-error{% endif %}">
							                {% bootstrap_field field layout="horizontal" horizontal_label_class='col-xl-4' horizontal_field_class='col-xl-8' %}
							                {% if field.errors %}
							                    {% for error in field.errors %}
							                        <p class="help-block">{{ error }}</p>
							                    {% endfor %}
							                {% endif %}
							            </div>
							        {% endfor %}
							    {% endif %}
							<button type="submit" class="btn btn-primary">Добавить</button>
						</form>
                    </div>
                </div>
            </div>
        </div>
        <div id="add-receipt" class="modal modal-lg fade ajax-modal" >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Добавить чек
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ receipt_form.media }}
                        <form id='form-create-receipt' method="post" class="ajax-form" action="{% url 'receipts:create' %}">
                            {% csrf_token %}
                            <div class="p-3 border">
                                {% if receipt_form %}
							        {% for field in receipt_form %}
							            <div class="form-group {% if field.errors %} has-error{% endif %}">
							                {% bootstrap_field field layout="horizontal" horizontal_label_class='col-xl-4' horizontal_field_class='col-xl-8' %}
							                {% if field.errors %}
							                    {% for error in field.errors %}
							                        <p class="help-block">{{ error }}</p>
							                    {% endfor %}
							                {% endif %}
							            </div>
							        {% endfor %}
							    {% endif %}
                            </div>
                            {{ product_formset.management_form }}
                            {% if product_formset %}
						        {% for product_form in product_formset %}
						            <div class="form-group form-product p-3 border {% if product_form.errors %} has-error{% endif %}">
						                {% bootstrap_form product_form layout="horizontal" horizontal_label_class='col-xl-4' horizontal_field_class='col-xl-8' %}
						                {% if product_form.errors %}
						                    {% for error in product_form.errors %}
						                        <p class="help-block">{{ error }}</p>
						                    {% endfor %}
						                {% endif %}
						            </div>
						        {% endfor %}
						    {% endif %}
                            {% bootstrap_button button_text_add_product id="add-form" button_type="button" button_class="add-product-btn btn btn-outline-warning"  %}
                            {% bootstrap_button button_text_remove_receipt id="remove-form" button_type="button" button_class="remove-product-btn btn btn-outline-danger"  %}
                            {% bootstrap_button button_text_create_receipt button_type="submit" button_class="add-receipt-btn mx-auto btn btn-outline-primary"  %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="frequently-purchased-products" class="modal-sm modal modal-lg fade ajax-modal" >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title">
                            Часто покупаемые товары
                        </h6>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Список из 10 часто покупаемых товаров:
                        {% for product in frequently_purchased_products %}
                            <ul class="list-group">

                                <li class="list-group-item">

                                    {{ product.product__product_name }}<br>
                                </li>
                            </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-5">
            <div class="d-grid gap-2 d-md-flex justify-content-xl-end justify-content-center">
                <ul class="count-receipt-list list-group list-group-horizontal d-flex align-items-center" style="color:;">
                    <span class="text-center">Количество чеков:</span>
                    <li class="list-group-item rounded-3 me-2">{{ total_receipts.count }}</li>

                    <span class="text-center">Сумма чеков:</span>
                    <li class="list-group-item rounded-3">{{ total_sum_receipts.total }}</li>
                </ul>
                <button type="button" class="d-flex align-items-center btn btn-primary m-xl-1 m-1" data-bs-toggle="modal" data-bs-target="#frequently-purchased-products">
                    Часто покупаемые товары
                </button>
	            <button type="button" class="d-flex align-items-center btn btn-info m-xl-1 m-1" data-bs-toggle="modal" data-bs-target="#add-customer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"></path>
                    </svg>
                    Добавить нового продавца
                </button>
                <button type="button" class="d-flex align-items-center add-receipt-button btn btn-danger m-xl-1 m-1" data-bs-toggle="modal" data-bs-target="#add-receipt">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"></path>
                    </svg>
                    Добавить чек вручную по наименованиям
                </button>
            </div>
            {% for receipt in receipts %}
	            <div class="col-xl-12">
		            <div class="d-grid gap-2">
			            <button class="button-receipt btn btn-light text-dark  mb-2" data-bs-toggle="modal" data-bs-target="#receipt-{{ receipt.id }}">{{ receipt.customer.name_seller }}<br> <strong>Дата: </strong>{{ receipt.receipt_date | date:"d.m.Y H:i" }} <strong>Сумма чека: </strong>{{ receipt.total_sum | comma }}</button>
			            <!-- /.btn btn-light text-dark -->
		            </div>
	            </div>
				<div id="receipt-{{ receipt.id }}" class="modal modal-lg fade ajax-modal" >
		            <div class="modal-dialog modal-dialog-centered">
		                <div class="modal-content">
		                    <div class="modal-header">
		                            <div class="col-xl-4">
			                            Кассовый чек
		                            </div>
		                            <!-- /.col-xl-4 -->
		                            <div class="col-xl-4">
			                            {% if receipt.operation_type == 1 %}
			                                Покупка
			                            {% elif receipt.operation_type == 2 %}
			                                Возврат покупки
			                            {% endif %}
		                            </div>
		                            <!-- /.col-xl-4 -->
		                            <div class="col-xl-3">
			                            {{ receipt.receipt_date | date:"d.m.Y H:i" }}
		                            </div>
		                            <!-- /.col-xl-4 -->
	                                <div class="col-xl-1">
		                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	                                </div>
	                                <!-- /.col-xl-1 -->
		                    </div>
		                    <div class="modal-body">
		                        <div class="d-flex justify-content-center align-items-center">
			                        <div class="col-xl-10">
				                        <strong class="fs-4">{{ receipt.customer.name_seller }}</strong>
			                        </div>
			                        <!-- /.col-xl-10 -->
			                        <div class="col-xl-2">
				                        <form class="form-remove-receipt-button m-0" action="{% url 'receipts:delete' receipt.id %}" method="post">
						                    {% csrf_token %}
						                    <input type="hidden" name="receipt_id" value="{{ receipt.id }}">
						                    <button class="remove-object-button position-absolute top-50 end-0 translate-middle mr-5 btn btn-outline-danger border-0 btn-small" data-nonce="{{request.csp_nonce}}" type="submit" name="delete_receipt_button">
						                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
						                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"></path>
						                        </svg>
						                    </button>
						                </form>
			                        </div>
			                        <!-- /.col-xl-2 -->

		                        </div>
		                        <table class="table mt-1" aria-describedby="table for receipt">
			                        <thead>
				                        <tr>
					                        <th>Предмет расчёта</th>
					                        <th>Цена</th>
					                        <th>Количество</th>
					                        <th>Сумма</th>
				                        </tr>
			                        </thead>
			                        <tbody>
			                            {% for product in receipt.product.all %}
					                        <tr>
						                        <td>{{ product.product_name }}</td>
						                        <td>{{ product.price | comma }}</td>
						                        <td>{{ product.quantity }}</td>
						                        <td>{{ product.amount | comma }}</td>
					                        </tr>
				                        {% endfor %}
			                        </tbody>
		                        </table>
		                        <!-- /.table -->
		                        <div class="row justify-content-between align-items-center">
									<div class="ms-2 col-xl-3">
										<strong class="fs-4">Итог</strong>
									</div>
									<div class="col-3">
										<strong class="fs-4">{{ receipt.total_sum }}</strong>
									</div>
								</div>
		                        <!-- /.d-flex justify-content-between align-items-center-->
		                        {% if receipt.nds10 %}
			                        <div class="row justify-content-between align-items-center mt-3">
										<div class="ms-2 col-xl-3">
											НДС 10%
										</div>
										<div class="col-3">
											{{ receipt.nds10 }}
										</div>
									</div>
			                        <!-- /.d-flex justify-content-between align-items-center-->
		                        {% endif %}
		                        {% if receipt.nds20 %}
			                        <div class="row justify-content-between align-items-center">
										<div class="ms-2 col-xl-3">
											НДС 20%
										</div>
										<div class="col-3">
											{{ receipt.nds20 }}
										</div>
									</div>
		                        {% endif %}
		                        <!-- /.d-flex justify-content-between align-items-center-->
		                        <div class="row justify-content-between align-items-center">
									<div class="ms-2 col-xl-3">
										Списано со счёта
									</div>
									<div class="col-3">
										{{ receipt.account }}
									</div>
								</div>
		                        <!-- /.d-flex justify-content-between align-items-center-->
		                        <div class="row justify-content-between align-items-center mt-5">
									<div class="ms-2 col-xl-3">
										Место расчётов
									</div>
									<div class="col-8">
										{{ receipt.customer.retail_place }}
									</div>
								</div>
		                        <!-- /.d-flex justify-content-between align-items-center-->
		                        <div class="row justify-content-between align-items-center mt-1">
									<div class="ms-2 col-xl-3">
										Адрес расчётов
									</div>
									<div class="col-8">
										{% if receipt.customer.retail_place_address %}
											{{ receipt.customer.retail_place_address }}
										{% endif %}
									</div>
								</div>
		                        <!-- /.d-flex justify-content-between align-items-center-->
		                    </div>
		                </div>
		            </div>
		        </div>
            {% endfor %}
            {% if receipts.has_other_pages %}
                <div class="btn-group mb-5 w-25" role="group" aria-label="Item pagination">
                    {% if receipts.has_previous %}
                        <a href="?receipts={{ receipts.previous_page_number }}" class="btn btn-outline-light">&laquo;</a>
                    {% endif %}

                    {% for page_number in receipts.paginator.page_range %}
                        {% if receipts.number == page_number %}
                            <button class="btn btn-outline-light active">
                                <span>{{ page_number }} <span class="sr-only">(current)</span></span>
                            </button>
                        {% else %}
                            <a href="?receipts={{ page_number }}" class="btn btn-outline-light">
                                {{ page_number }}
                            </a>
                        {% endif %}
                    {% endfor %}

                    {% if receipts.has_next %}
                        <a href="?receipts={{ receipts.next_page_number }}" class="btn btn-outline-light">&raquo;</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
