{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}
{% load static %}
{% load csp %}
{% load comma %}


{% block title %}{% translate 'Список чеков' %}{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% include 'error_modal.html' %}
        <div id="add-customer" class="modal modal-lg fade ajax-modal" >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Добавить нового продавца
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="ajax-form m-2" method="POST" action="{% url 'receipts:create_customer' %}">
							{% csrf_token %}
							{% if seller_form %}
							        {% for field in seller_form %}
							            <div class="form-group {% if field.errors %} has-error{% endif %}">
							                {% bootstrap_field field layout="horizontal" horizontal_label_class='col-xl-4' horizontal_field_class='col-xl-8' %}
							                {% if field.errors %}
							                    {% for error in field.errors %}
							                        <p class="help-block">{{ error }}</p>
							                    {% endfor %}
							                {% endif %}
							            </div>
							        {% endfor %}
							    {% endif %}
							<button type="submit" class="btn btn-primary">Добавить</button>
						</form>
                    </div>
                </div>
            </div>
        </div>
        <div id="add-receipt" class="modal modal-lg fade ajax-modal" >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Добавить чек
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ receipt_form.media }}
                        <form id='form-create-receipt' method="post" class="ajax-form" action="{% url 'receipts:create' %}">
                            {% csrf_token %}
                            <div class="p-3 border">
                                {% if receipt_form %}
							        {% for field in receipt_form %}
							            <div class="form-group {% if field.errors %} has-error{% endif %}">
							                {% bootstrap_field field layout="horizontal" horizontal_label_class='col-xl-4' horizontal_field_class='col-xl-8' %}
							                {% if field.errors %}
							                    {% for error in field.errors %}
							                        <p class="help-block">{{ error }}</p>
							                    {% endfor %}
							                {% endif %}
							            </div>
							        {% endfor %}
							    {% endif %}
                            </div>
                            {{ product_formset.management_form }}
                            {% if product_formset %}
						        {% for product_form in product_formset %}
						            <div class="form-group form-product p-3 border {% if product_form.errors %} has-error{% endif %}">
						                {% bootstrap_form product_form layout="horizontal" horizontal_label_class='col-xl-4' horizontal_field_class='col-xl-8' %}
						                {% if product_form.errors %}
						                    {% for error in product_form.errors %}
						                        <p class="help-block">{{ error }}</p>
						                    {% endfor %}
						                {% endif %}
						            </div>
						        {% endfor %}
						    {% endif %}
                            {% bootstrap_button button_text_add_product id="add-form" button_type="button" button_class="add-product-btn btn btn-outline-warning"  %}
                            {% bootstrap_button button_text_remove_receipt id="remove-form" button_type="button" button_class="remove-product-btn btn btn-outline-danger"  %}
                            {% bootstrap_button button_text_create_receipt button_type="submit" button_class="add-receipt-btn mx-auto btn btn-outline-primary"  %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-5">
            <div class="d-grid gap-2 d-md-flex justify-content-xl-end justify-content-center">
	            <button type="button" class="d-flex align-items-center btn btn-info m-xl-2 m-1" data-bs-toggle="modal" data-bs-target="#add-customer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"></path>
                    </svg>
                    Добавить нового продавца
                </button>
                <button type="button" class="d-flex align-items-center add-receipt-button btn btn-danger m-xl-2 m-1" data-bs-toggle="modal" data-bs-target="#add-receipt">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"></path>
                    </svg>
                    Добавить чек вручную по наименованиям
                </button>
            </div>
            {% for receipt in receipts %}
            <div class="receipt mx-auto bg-light position-relative rounded-3 m-1 shadow">
                <form class="form-remove-receipt-button m-0" action="{% url 'receipts:delete' receipt.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="receipt_id" value="{{ receipt.id }}">
                    <button class="remove-object-button position-absolute top-50 end-0 translate-middle mr-5 mt-1 btn btn-outline-danger border-0 btn-small" data-nonce="{{request.csp_nonce}}" type="submit" name="delete_receipt_button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"></path>
                        </svg>
                    </button>
                </form>

                <table class="table table-sm table-borderless" aria-label="table receipts">
					<thead>
						<tr>
							<th scope="col" class="col-xl-7 fs-4 align-middle">Продавец: {{ receipt.customer.name_seller }}</th>
							<th scope="col" class="col-xl-2">Дата и время:<br>{{ receipt.receipt_date | date:"d.m.Y H:i" }}</th>
							<th scope="col" class="col-xl-2">Итоговая сумма:<br>{{ receipt.total_sum | comma }}</th>
						</tr>
						<tr>
							<th scope="row">Наименование товара</th>
							<th scope="col">Цена</th>
							<th scope="col">Количество</th>
							<th scope="col">Сумма</th>
						</tr>
					</thead>
					<tbody>
						{% for product in receipt.product.all %}
							<tr>
								<th scope="row" class="fw-normal">{{ product.product_name }}</th>
								<td >{{ product.price | comma }}</td>
								<td >{{ product.quantity }}</td>
								<td >{{ product.amount | comma }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
