{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}{% translate 'Страница входа' %}{% endblock %}
{% block content %}
    <div class="container d-flex min-vh-100 flex-column justify-content-center align-items-center">
        <h1 class="text-light text-uppercase">Hasta La Vista, Money!</h1>
        <p class="text-light text-center">Удобная домашняя бухгалтерия. Управляй финансами семьи грамотно!</p>
        <form method="post" class="form text-light">
            {% csrf_token %}
            <p class="my-4">
                {% bootstrap_form form %}
            </p>
            <div class="row align-items-center justify-content-center">
                <div class="row justify-content-center align-items-center">
                    {% bootstrap_button button_text button_type="submit" button_class="btn btn-danger" %}
                </div>
            </div>
        </form>
        <p class='text-light mt-3'>Ещё не зарегистрированы?</p>
        <p class='text-light'>Тогда нажимайте кнопку:</p>
        <a class="btn btn-primary text-light" href="{% url 'users:registration' %}">{% translate 'Регистрация' %}</a>

    </div>

{% endblock %}
