{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% translate 'Установить новый пароль' %}{% endblock %}
{% block content %}
	{% if validlink %}
    <div class="container d-flex min-vh-100 flex-column justify-content-center align-items-center">
        <div class="row">
            <div class="col-xl-12">
                <h4 class="text-light">{% translate 'Установить новый пароль' %}</h4>
            </div>
            <form method="post" class="form text-light help-text-form">
                {% csrf_token %}
                {{ form | crispy }}
	            <button type="submit" class="btn btn-primary">{% translate 'Сменить пароль' %}</button>
            </form>
        </div>
    </div>
	{% else %}
	<div class="container d-flex min-vh-100 flex-column justify-content-center align-items-center">
			<h4 class="text-light"><a class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'login' %}">{% translate 'Ссылка недействительна! Запросите новую ссылку со страницы авторизации!' %}</a></h4>
	</div>
	{% endif %}
{% endblock %}
