{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block title %}{% translate 'Регистрация нового пользователя' %}{% endblock %}
{% block content %}
    <title>{{ title }}</title>
    <div class="container d-flex min-vh-100 flex-column justify-content-center align-items-center">
        <form method="post" class="text-light help-text-form">
            {% csrf_token %}
            <p class="my-4">
                {% bootstrap_form form %}
            </p>
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-3">
                    {% bootstrap_button button_text button_type="submit" button_class="btn btn-danger" %}
                </div>
	            <div class="col-xl-3">
		            <a class="btn btn-warning text-light text-nowrap" href="{% url 'login' %}">{% translate 'Вернуться назад' %}</a>
	            </div>
            </div>
        </form>
    </div>
{% endblock %}
