{% load i18n %}
{% load django_bootstrap5 %}

<div id="add-receipt" class="modal modal-lg fade ajax-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Добавить чек
                </h5>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ receipt_form.media }}
                <form id='form-create-receipt' method="post"
                      class="ajax-form"
                      action="{% url 'receipts:create' %}">
                    {% csrf_token %}
                    <div class="p-3 border">
                        {% if receipt_form %}
                            {% for field in receipt_form %}
                                <div class="form-group {% if field.errors %} has-error{% endif %}">
                                    {% bootstrap_field field layout="horizontal" horizontal_label_class='col-xl-4' horizontal_field_class='col-xl-8' %}
                                    {% if field.errors %}
                                        {% for error in field.errors %}
                                            <p class="help-block">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    {{ product_formset.management_form }}
                    {% if product_formset %}
                        {% for product_form in product_formset %}
                            <div class="form-group form-product p-3 border {% if product_form.errors %} has-error{% endif %}">
                                {% bootstrap_form product_form layout="horizontal" horizontal_label_class='col-xl-4' horizontal_field_class='col-xl-8' %}
                                {% if product_form.errors %}
                                    {% for error in product_form.errors %}
                                        <p class="help-block">{{ error }}</p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% bootstrap_button button_text_add_product id="add-form" button_type="button" button_class="add-product-btn btn btn-outline-warning" %}
                    {% bootstrap_button button_text_remove_receipt id="remove-form" button_type="button" button_class="remove-product-btn btn btn-outline-danger" %}
                    {% bootstrap_button button_text_create_receipt button_type="submit" button_class="add-receipt-btn mx-auto btn btn-outline-primary" %}
                </form>
            </div>
        </div>
    </div>
</div>
