{% load i18n %}
{% load crispy_forms_tags %}

<div id="add-customer" class="modal modal-lg fade ajax-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Добавить нового продавца
                </h5>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="ajax-form m-2" method="POST"
                      action="{% url 'receipts:create_customer' %}">
                    {% csrf_token %}
                    {% if seller_form %}
                        {% for field in seller_form %}
                            <div class="form-group {% if field.errors %} has-error{% endif %}">
                                {{ field | as_crispy_field }}
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <p class="help-block">{{ error }}</p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <button type="submit" class="btn btn-primary">
                        Добавить
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
