<div id="frequently-purchased-products"
     class="modal-sm modal modal-lg fade ajax-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">
                    Часто покупаемые товары
                </h6>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Список из 10 часто покупаемых товаров:
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="col-6">Наименование</th>
                        <th class="col-3">Количество</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in frequently_purchased_products %}
                        <tr>
                            <td>{{ product.product__product_name }}</td>
                            <td>{{ product.products }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
