{% load comma %}

<div id="receipts-statistics" class="modal modal-lg fade ajax-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Статистика по чекам
                </h5>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-hover text-center justify-content-center table-bordered text-dark align-middle shadow"
                           aria-label="table about receipts">
                        <tr>
                            <th>
                                Период
                            </th>
                            <th>
                                Количество чеков
                            </th>
                            <th>
                                Сумма
                            </th>
                            <th>
                                Счёт
                            </th>
                        </tr>
                        {% for receipt in receipt_info_by_month %}
                            <tr>
                                <td class="col-3">{{ receipt.month | date:"F Y" }}</td>
                                <td class="col-2">{{ receipt.count }}</td>
                                <td class="col-2 text-nowrap">{{ receipt.total_amount | comma }}</td>
                                <td class="col-3 text-nowrap">{{ receipt.account__name_account }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                {% if receipt_info_by_month.has_other_pages %}
                    <div class="btn-group mb-5" role="group"
                         aria-label="Item pagination">
                        {% if receipt_info_by_month.has_previous %}
                            <a href="?receipts={{ receipt_info_by_month.previous_page_number }}"
                               class="btn btn-outline-light">&laquo;</a>
                        {% endif %}

                        {% for page_number in receipt_info_by_month.paginator.page_range %}
                            {% if receipt_info_by_month.number == page_number %}
                                <button class="btn btn-outline-light active">
                                            <span>{{ page_number }} <span
                                                    class="sr-only">(current)</span></span>
                                </button>
                            {% else %}
                                <a href="?receipts={{ page_number }}"
                                   class="btn btn-outline-light">
                                    {{ page_number }}
                                </a>
                            {% endif %}
                        {% endfor %}

                        {% if receipt_info_by_month.has_next %}
                            <a href="?receipts={{ receipt_info_by_month.next_page_number }}"
                               class="btn btn-outline-light">&raquo;</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
