.receipt {
    position: relative;
    overflow: scroll;
    border: 1px solid black;
    padding: 10px;
    border-radius: 50%;
    height: 16rem

}

.add-receipt-form {
    margin-bottom: 10%;
}

table th:first-child {
     width: 50rem;
}

table th:nth-child(2) {
    width: 10rem;
}

table th:nth-child(3) {
    width: 9rem;
}

.add-receipt-button {
    width: 20%;
    margin-left: 80%;
}

.add-receipt-btn {
    position: fixed;
    top: 44%;
    right: 2%;
    padding: .3rem 3.7rem;
}

.add-product-btn {
    position: fixed;
    top: 50%;
    right: 2%;
}

#add-new-seller-btn {
    position: fixed;
    top: 15%;
    right: 2%;
    padding: .3rem .6rem;
}

.remove-product-btn {
    float: right;
}

.link-wrapper {
    position: relative;
}

.link-application {
    position: absolute;
}

.return-receipts-list {
    position: absolute;
    top: 5.7rem;
}

.return-incomes-list {
    position: absolute;
    top: 3rem;
}

.add-income {
    position: absolute;
    right: 16.2%;
}

.button-add-form-income {
    width: 20%;
    margin-left: 80%;
}




/* Style for button "Delete receipt" */
.remove-button {
    background: none;
    border: 0;
    width: 15px;
    height: 15px;
    margin: 0 auto;
    right: 2%;
    position: absolute;
    transform: rotate(45deg) scale(2);
}

.remove-button .top,
.remove-button .bot {
    display: block;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    animation-iteration-count: 1;
}

.remove-button .top {
    height: 100%;
    width: 2px;
    margin-left: -1px;
    transform: skewY(45deg);
    top: 0;
}

.remove-button .bot {
    width: 100%;
    height: 2px;
    margin-top: -1px;
    transform: skewX(-45deg);
    left: 0;
}

@-webkit-keyframes top-out {
    from {
        top: 0;
        height: 100%;
    }
    to {
        top: 200%;
        height: 0%;
    }
}

@keyframes top-out {
    from {
        top: 0;
        height: 100%;
    }
    to {
        top: 200%;
        height: 0;
    }
}
@-webkit-keyframes top-in {
    from {
        top: -100%;
        height: 0;
    }
    to {
        top: 0;
        height: 100%;
    }
}
@keyframes top-in {
    from {
        top: -100%;
        height: 0;
    }
    to {
        top: 0;
        height: 100%;
    }
}
@-webkit-keyframes bot-out {
    from {
        left: 0%;
        width: 100%;
    }
    to {
        left: 200%;
        width: 0%;
    }
}
@keyframes bot-out {
    from {
        left: 0%;
        width: 100%;
    }
    to {
        left: 200%;
        width: 0%;
    }
}
@-webkit-keyframes bot-in {
    from {
        left: -100%;
        width: 0%;
    }
    to {
        left: 0%;
        width: 100%;
    }
}
@keyframes bot-in {
    from {
        left: -100%;
        width: 0%;
    }
    to {
        left: 0%;
        width: 100%;
    }
}
.remove-button:hover {
    cursor: pointer;
}
.remove-button:hover .top {
    animation: top-out 0.25s forwards, top-in 0.25s forwards 0.25s;
}
.remove-button:hover .bot {
    animation: bot-out 0.25s forwards 0.1s, bot-in 0.25s forwards 0.35s;
}
