{% extends 'base.html' %}
{% load i18n %}

{% load django_bootstrap5 %}
{% load static %}
{% load comma %}



{% block content %}
    <title>Информация о расходах</title>
    <div class="container-fluid">
        <div id="add-expense" class="modal fade" >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Добавить расход
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ add_expense_form.media }}
                        <form class="form" method="post">
                            {% csrf_token %}
                            {% bootstrap_form add_expense_form layout='horizontal' horizontal_label_class='col-xl-4' horizontal_field_class='col-xl-8' %}
                            {% bootstrap_button button_text_create_expense button_type="submit" button_class="add-expense btn btn-primary"  %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="category-expense" class="modal fade" >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Управление категориями расхода
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul class="list-group list-group-numbered list-group-flush">
                            {% for category in categories %}
                                <li class="list-group-item d-flex align-items">
                                    {{ category }}
                                    <form class="form-remove-category-button" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="category_expense_id" value="{{ category.id }}">
                                        <button class="remove-object-button btn btn-outline-danger border-0 btn-sm" data-nonce="{{request.csp_nonce}}" type="submit" name="delete_category_expense_button">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"></path>
                                            </svg>
                                        </button>
                                    </form>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-bs-target="#add-category-expense" data-bs-toggle="modal" data-bs-dismiss="modal">Добавить категорию</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="add-category-expense" class="modal fade" >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Добавить категорию расхода
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="form" method="post">
                            {% csrf_token %}
                            {% bootstrap_form add_category_form %}
                            {% bootstrap_button button_add_category button_type="submit" button_class='add-category-expense btn btn-primary' %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2 justify-content-start">
            <div class="col-xl-3 pt-5">
                <table class="table table-hover text-center justyfy-content-center table-bordered text-light" aria-label="table about receipts">
                    <tr>
                        <th>
                            Период
                        </th>
                        <th>
                            Количество чеков
                        </th>
                        <th>
                            Сумма
                        </th>
                        <th>
                            Счёт
                        </th>
                    </tr>
                    {% for receipt in receipt_info_by_month %}
                        <tr>
                            <td class="col-3">{{ receipt.month | date:"F Y" }}</td>
                            <td class="col-1">{{ receipt.count }}</td>
                            <td class="col-1">{{ receipt.total_amount }}</td>
                            <td class="col-3">{{ receipt.account__name_account }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="offset-xl-1 col-xl-6 pt-5">
                <div class="wrapper-table-expense">
                    <table class="table table-expense table-hover align-middle text-center text-light table-bordered" aria-label="table expense">
                        <tr>
                            <th>Категория</th>
                            <th>Дата</th>
                            <th>Сумма</th>
                            <th>Счёт</th>
                            <th class="col-2"><button type="button" class="open-modal-expense-button btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#add-expense">Добавить расход</button></th>
                        </tr>
                        {% for expense in expenses %}
                            <tr>
                                <td>{{ expense.category__name }}</td>
                                <td>{{ expense.date }}</td>
                                <td>{{ expense.amount }}</td>
                                <td>{{ expense.account__name_account }}</td>
                                <td class="position-relative">
                                    <form method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="expense_id" value="{{ expense.id }}">
                                        <button class="remove-object-button position-absolute top-50 start-50 translate-middle btn btn-outline-danger border-0 btn-sm" data-nonce="{{request.csp_nonce}}" type="submit" name="delete_expense_button">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"></path>
                                            </svg>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}

                    </table>
                    <button type="button" class="open-modal-categories-expense-button btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#category-expense">Управление категориями</button>
                </div>

            </div>
        </div>
    </div>

{% endblock %}