{% extends 'base.html' %}
{% load i18n %}

{% load django_bootstrap5 %}
{% load static %}
{% load comma %}



{% block content %}
    <title>Информация о расходах</title>
    <div class="container-fluid">
        {% include 'header.html' %}
    </div>
    <div class="container">
        <div class="modal fade" id="example">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Добавить расходную операцию</h5>
                    </div>
                    <div class="modal-body">
                        <h5>Добавить!</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="display-4 text-center pt-3 text-light">
                    Страница расходов
                </div>
            </div>
        </div>
        <div class="row mt-5 justify-content-center">
            <div class="link-wrapper">
                <a class="link-application btn btn-outline-warning" href="{% url 'applications:list' %}">Вернуться на страницу с приложениями</a>
            </div>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#example">Открыть модальное окно</button>
            <div class="col pt-5">
                <table class="table table-hover table-bordered text-light">
                    <tr>
                        <th>
                            Период
                        </th>

                        <th>
                            Сумма
                        </th>
                    </tr>
                    {% for month in expense_by_months %}
                    {% language 'ru' %}
                    <tr>
                        <td>
                            {{ month.month | date:"F Y" }}{% translate " г." %}
                        </td>
                        <td>
                            {{ month.total_amount | comma }}
                        </td>
                    </tr>
                    {% endlanguage %}
                    {% endfor %}
                </table>



            </div>
        </div>
    </div>

{% endblock %}