{% load i18n %}
{% load comma %}

<div id="statistics" class="ajax-modal modal fade">
    <div class="modal-dialog modal-sm modal-xl modal-dialog-centered text-danger">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {% translate 'Статистика' %}
                </h5>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active"
                                id="receipts-info-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#receipts-info"
                                type="button" role="tab"
                                aria-controls="receipts-info"
                                aria-selected="true"
                                title="{% translate 'Статистика по чекам' %}">
                            {% translate 'Статистика по чекам' %}
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link"
                                id="income-expense-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#income-expense"
                                type="button" role="tab"
                                aria-controls="income-expense"
                                aria-selected="false"
                                title="{% translate 'Статистика доходов и расходов' %}">
                            {% translate 'Статистика доходов и расходов' %}
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link"
                                id="transfer-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#transfer"
                                type="button" role="tab"
                                aria-controls="transfer"
                                aria-selected="false"
                                title="{% translate 'Статистика переводов' %}">
                            {% translate 'Статистика переводов' %}
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show"
                         id="receipts-info" role="tabpanel"
                         aria-labelledby="receipts-tab">
                        <div class="table-responsive">
                            <table class="table table-sm table-hover text-center justify-content-center table-bordered text-dark shadow"
                                   aria-label="table about receipts">
                                <tr>
                                    <th>
                                        {% translate 'Период' %}
                                    </th>
                                    <th>
                                        {% translate 'Количество чеков' %}
                                    </th>
                                    <th>
                                        {% translate 'Сумма' %}
                                    </th>
                                    <th>
                                        {% translate 'Счёт' %}
                                    </th>
                                </tr>
                                {% for receipt in receipt_info_by_month %}
                                    <tr>
                                        <td class="col-3 text-nowrap">{{ receipt.month | date:"F Y" }}</td>
                                        <td class="col-2 text-nowrap">{{ receipt.count }}</td>
                                        <td class="col-3 text-nowrap">{{ receipt.total_amount | comma }}</td>
                                        <td class="col-3 text-nowrap">{{ receipt.account__name_account }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="income-expense"
                         role="tabpanel"
                         aria-labelledby="income-expense-tab">
                        <div class="table-responsive">
                            <table class="table table-sm table-expense table-hover align-middle text-center text-dark table-bordered shadow"
                                   aria-label="table expense">
                                <tr>
                                    <th>{% translate 'Категория' %}</th>
                                    <th>{% translate 'Дата' %}</th>
                                    <th>{% translate 'Сумма' %}</th>
                                    <th>{% translate 'Счёт' %}</th>
                                </tr>
                                {% for item in income_expense %}
                                    <tr>
                                        <td class="text-nowrap">{{ item.category__name }}</td>
                                        <td class="text-nowrap">{{ item.date | date:'F Y' }}</td>
                                        <td class="text-nowrap">{{ item.amount | comma }}</td>
                                        <td class="text-nowrap">{{ item.account__name_account }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade"
                         id="transfer" role="tabpanel"
                         aria-labelledby="transfer-tab">
                        <ul class="list-group list-group-flush">
                            {% for transfer in transfer_money_log %}
                                <li class="list-group-item">{{ transfer }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
