{{ '<' }}{{'!doctype html>'}}
{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
{% load i18n %}

{% translate 'Добавить чек' as button_text_create_receipt %}
{% translate 'Добавить ещё один товар' as button_text_add_receipt %}
{% translate 'Добавить доход' as button_text_create_income %}

<html lang="`ru`">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0,
          maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css?t=<?= time(); ?>' %}">
</head>
<body>
    <div class="min-vh-100 bg-success bg-gradient">
        {% block content %}
        {% endblock %}
    </div>
    <script
			  src="https://code.jquery.com/jquery-3.6.3.min.js?t=<?= time(); ?>"
			  integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
			  crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js?t=<?= time(); ?>' %}"></script>
</body>
</html>






