{# Load the tag library #}
{% load csp %}
{% load static %}
{% load i18n %}
{% load word_hash %}


<!DOCTYPE html>
<html lang="ru">
<head>
    {% block head %}
        <link nonce="{{request.csp_nonce}}" rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}?v={% word_hash %}">
        <script nonce="{{request.csp_nonce}}" src="{% static 'bootstrap/js/bootstrap.min.js' %}?v={% word_hash %}"></script>
        <script nonce="{{request.csp_nonce}}" src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}?v={% word_hash %}"></script>
        <title>{% block title %}{% endblock %} - Hasta La Vista, Money!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}?v={% word_hash %}" type="image/x-icon">
        <link nonce="{{request.csp_nonce}}" rel="stylesheet" href="{% static 'css/bootstrap-icons.min.css' %}?v={% word_hash %}">
        <link nonce="{{request.csp_nonce}}" rel="stylesheet" href="{% static 'css/styles.css' %}?v={% word_hash %}">
        <script nonce="{{request.csp_nonce}}" src="{% static 'js/jquery-3.7.1.min.js' %}?v={% word_hash %}"></script>
    {% endblock %}
</head>
<body class="bg-success">
    {% if user.is_authenticated %}
        {% include 'header.html' %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert container position-absolute start-50 translate-middle mt-3 text-center {% if message.tags %}{{ message.tags }}{% endif %}">
                    <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}
    {% if user.is_registered %}
        {% include 'header.html' %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert container position-absolute start-50 translate-middle mt-5 text-center {% if message.tags %}{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% elif not user.last_login %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert container position-absolute start-50 translate-middle mt-5 text-center {% if message.tags %}{{ message.tags }}{% endif %}">
                    <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}
    {% block content %}
    {% endblock %}

    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <script nonce="{{request.csp_nonce}}" src="{% static 'js/script.js' %}?v={% word_hash %}"></script>
    <script nonce="{{request.csp_nonce}}" src="{% static 'js/errors_form.js' %}?v={% word_hash %}"></script>
    <script nonce="{{request.csp_nonce}}" src="{% static 'js/planning.js' %}?v={% word_hash %}"></script>
</body>
</html>
