@import "buttons_outline";

.btn-pink {
  --bs-btn-color: #000;
  --bs-btn-bg: #ffc0cb;
  --bs-btn-border-color: #ffc0cb;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #ffc0cb;
  --bs-btn-hover-border-color: #ffc0cb;
  --bs-btn-focus-shadow-rgb: 217,164,6;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #ffc0cb;
  --bs-btn-active-border-color: #ffc0cb;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #ffc0cb;
  --bs-btn-disabled-border-color: #ffc0cb;
}

.btn-banana {
  --bs-btn-color: #000;
  --bs-btn-bg: #fae7b5;
  --bs-btn-border-color: #fae7b5;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #fae7b5;
  --bs-btn-hover-border-color: #fae7b5;
  --bs-btn-focus-shadow-rgb: 217,164,6;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #fae7b5;
  --bs-btn-active-border-color: #fae7b5;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #fae7b5;
  --bs-btn-disabled-border-color: #fae7b5;
}

.btn-purple {
    --bs-btn-color: #fff;
    --bs-btn-bg: #800080;
    --bs-btn-border-color: #800080;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #8B008B;
    --bs-btn-hover-border-color: #8B008B;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #8B008B;
    --bs-btn-active-border-color: #8B008B;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #800080;
    --bs-btn-disabled-border-color: #800080;
}
