@font-face {
    font-family:'Amarante';
    src: url('../fonts/Amarante Regular.eot');
	src: url('../fonts/Amarante Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Amarante Regular.woff2') format('woff2'),
		url('../fonts/Amarante Regular.woff') format('woff'),
		url('../fonts/Amarante Regular.svg#Amarante Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Gloria Hallelujah';
    src: url('../fonts/Gloria Hallelujah.eot');
	src: url('../fonts/Gloria Hallelujah.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gloria Hallelujah.woff2') format('woff2'),
		url('../fonts/Gloria Hallelujah.woff') format('woff'),
		url('../fonts/Gloria Hallelujah.svg#Gloria Hallelujah') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2212;
}

@font-face {
    font-family:'SirinStencil';
    src: url('../fonts/SirinStencil.eot');
	src: url('../fonts/SirinStencil.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SirinStencil.woff2') format('woff2'),
		url('../fonts/SirinStencil.woff') format('woff'),
		url('../fonts/SirinStencil.svg#SirinStencil') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2074;
}

@font-face {
    font-family:'Kalam';
    src: url('../fonts/Kalam.eot');
	src: url('../fonts/Kalam.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Kalam.woff2') format('woff2'),
		url('../fonts/Kalam.woff') format('woff'),
		url('../fonts/Kalam.ttf') format('truetype'),
		url('../fonts/Kalam.svg#Kalam') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Kalam';
    src: url('../fonts/Kalam Bold.eot');
	src: url('../fonts/Kalam Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Kalam Bold.woff2') format('woff2'),
		url('../fonts/Kalam Bold.woff') format('woff'),
		url('../fonts/Kalam Bold.ttf') format('truetype'),
		url('../fonts/Kalam Bold.svg#Kalam Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}