@media (max-width: 767px) {
    .receipt tr, h4 {
        font-size: calc(1.250rem + -2vw);
    }
    .who-login {
        margin-left: 0;
        font-size: .8rem;
        height: 2rem;
    }
    .remove-button {
        right: 5%;
    }
    .logo {
        width: 100%;
    }
    .table-buttons {
        margin-top: 10%;
    }
    .logo {
        margin-top: auto;
    }
    .account {
        font-size: 1rem;
    }
    .text-menu-button {
        display: none;
    }

}
@media (min-width: 768px) and (max-width: 991px) {
    .remove-button {
        right: 2%;
    }
    .logo {
        margin-top: auto;
    }
}
