@import "fonts";
@import "buttons";
@import "mobile";


html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.table-buttons form {
    margin: 0;
}

.logo {
    padding-top: 0;
    color: #ffffff;
    text-shadow: rgb(0, 0, 0) 2px 2px 3px;
    font-family: 'Gloria Hallelujah', sans-serif;
    font-size: 3rem;
}

.button-exit {
    margin: 0;
}

.who-login {
    margin-left: 3rem;
    color: #92dc7e;
    height: .2rem;
}

.receipt {
    position: relative;
    overflow: scroll;
    border: 1px solid black;
    padding: 10px;
    border-radius: 50%;
    height: 16rem
}

.button-receipt {
    height: 6rem;
}

.add-receipt-form {
    margin-bottom: 10%;
}

.add-receipt-btn {
    float: right;
}

#add-new-seller-btn {
    position: absolute;
    top: 2rem;
    right: -14.5rem;
    padding: .3rem .6rem;
}

.wrapper-table-income {
    position: relative;
}

.link-application {
    position: absolute;
}

.return-receipts-list {
    position: absolute;
    top: 5.7rem;
}

.return-incomes-list {
    position: absolute;
    top: 3rem;
}

.button-add-form-income {
    font-size: 12px;
}

.form-remove-receipt-button {
    position: relative;
}

.wrapper-table-expense {
    position: relative;
}

.open-modal-expense-button {
    font-size: 13px;
}

.open-modal-categories-income-button {
    position: absolute;
    top: .9rem;
    right: -15rem;
}

.help-text-form {
    .form-text {
        color: #f8f9fb !important;
    }
}

.navbar-nav {
    margin: 0 auto;
}

.btn-border-white {
    border-color: #ffffff;
}

caption {
    text-shadow:#000000 0px -3px 13px;
}
