{% load i18n %}
{% load django_bootstrap5 %}

<div id="add-category-income" class="modal fade ajax-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Добавить категорию дохода
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="ajax-form m-2" method="POST"
                      action="{% url 'income:create_category' %}">
                    {% csrf_token %}
                    {% if add_category_income_form %}
                        {% for field in add_category_income_form %}
                            <div class="form-group {% if field.errors %} has-error{% endif %}">
                                {% bootstrap_field field %}
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <p class="help-block">{{ error }}</p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% bootstrap_button button_add_category button_type="submit" button_class='add-category-income btn btn-primary' %}
                </form>
            </div>
        </div>
    </div>
</div>
