{% load i18n %}

<div id="category-income" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">
                    {% translate 'Управление категориями дохода' %}
                </h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-end mb-3">
                            <button class="btn btn-primary btn-sm"
                                    data-bs-target="#add-category-income"
                                    data-bs-toggle="modal"
                                    data-bs-dismiss="modal">
                                {% translate 'Добавить категорию' %}
                            </button>
                        </div>
                        <!-- /.col-md-4 ml-auto -->
                        <div class="row">
                            <div class="col-md-12 ml-auto">
                                <ul class="list-group list-group-flush">
                                    {% for category in flattened_categories %}
                                        <li class="list-group-item">
                                            <div class="d-flex align-items-center">
                                                <strong>{{ category.name }}</strong>
                                                <form class="form-remove-category-button m-0"
                                                      method="post"
                                                      action="{% url 'income:delete_category_income' category.id %}">
                                                    {% csrf_token %}
                                                    <button class="remove-object-button btn btn-outline-danger border-0 btn-sm"
                                                            data-nonce="{{ request.csp_nonce }}"
                                                            type="submit"
                                                            name="delete_category_income_button">
                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                             width="12"
                                                             height="12"
                                                             fill="currentColor"
                                                             class="bi bi-x-lg"
                                                             viewBox="0 0 16 16">
                                                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"></path>
                                                        </svg>
                                                    </button>
                                                </form>
                                            </div>
                                            <!-- /.d-flex align-items-center -->

                                            {% if category.children %}
                                                <ul class="list-group list-group-flush">
                                                    {% for child in category.children %}
                                                        <li class="list-group-item">
                                                            <div class="d-flex align-items-center">
                                                                <span>{{ child.name }}</span>
                                                                <form class="form-remove-category-button m-0"
                                                                      method="post"
                                                                      action="{% url 'income:delete_category_income' child.id %}">
                                                                    {% csrf_token %}
                                                                    <button class="remove-object-button btn btn-outline-danger border-0 btn-sm"
                                                                            data-nonce="{{ request.csp_nonce }}"
                                                                            type="submit"
                                                                            name="delete_category_income_button">
                                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                                             width="12"
                                                                             height="12"
                                                                             fill="currentColor"
                                                                             class="bi bi-x-lg"
                                                                             viewBox="0 0 16 16">
                                                                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"></path>
                                                                        </svg>
                                                                    </button>
                                                                </form>
                                                            </div>
                                                            <!-- /.d-flex align-items-center -->
                                                            {% if child.children %}
                                                                <ul class="list-group list-group-flush">
                                                                    {% for grandchild in child.children %}
                                                                        <li class="list-group-item">
                                                                            <div class="d-flex align-items-center">
                                                                                <span>{{ grandchild.name }}</span>
                                                                                <form class="form-remove-category-button m-0"
                                                                                      method="post"
                                                                                      action="{% url 'income:delete_category_income' grandchild.id %}">
                                                                                    {% csrf_token %}
                                                                                    <button class="remove-object-button btn btn-outline-danger border-0 btn-sm"
                                                                                            data-nonce="{{ request.csp_nonce }}"
                                                                                            type="submit"
                                                                                            name="delete_category_income_button">
                                                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                                                             width="12"
                                                                                             height="12"
                                                                                             fill="currentColor"
                                                                                             class="bi bi-x-lg"
                                                                                             viewBox="0 0 16 16">
                                                                                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"></path>
                                                                                        </svg>
                                                                                    </button>
                                                                                </form>
                                                                            </div>
                                                                            <!-- /.d-flex align-items-center -->
                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            {% endif %}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <!-- /.col-md-4 ml-auto -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
        </div>
    </div>
</div>
