{% load i18n %}

<div id="category-income" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">
                    {% translate 'Управление категориями дохода' %}
                </h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-end mb-3">
                            <a class="btn btn-primary btn-sm"
                                    href="{% url "income:create_category" %}">
                                {% translate 'Добавить категорию' %}
                            </a>
                        </div>
                        <!-- /.col-md-4 ml-auto -->
                        <div class="row">
                            <div class="col-md-12 ml-auto">
                                {% include "income/modals/income_cat_list.html" %}
                            </div>
                            <!-- /.col-md-4 ml-auto -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
        </div>
    </div>
</div>
