{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}{% translate 'Страница входа' %}{% endblock %}
{% block content %}
	<div class="container d-flex min-vh-100 flex-column justify-content-center align-items-center">
		<div class="row">
			<div class="col-xl-12">
				<form method="post">
					{% csrf_token %}
					{% bootstrap_form form %}
					{% bootstrap_button 'Выслать ссылку для сброса пароля' button_type="submit" button_class='btn btn-primary' %}
				</form>
			</div>
		</div>
	</div>
{% endblock %}
