{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">
                        {% translate 'Добавить категорию дохода' %}
                    </h5>
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'income:create_category' %}">
                        {% csrf_token %}
                        {% if add_category_income_form %}
                            {% for field in add_category_income_form %}
                                <div class="form-group {% if field.errors %} has-error{% endif %}">
                                    {{ field | as_crispy_field }}
                                    {% if field.errors %}
                                        {% for error in field.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="mt-3">
                            <button type="submit" class="btn btn-outline-primary">{% translate 'Добавить' %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
