{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}
{% load static %}


{% block content %}
    <title>Добавление дохода</title>
    <div class="container">
        <div class="row">
            <div class="col mt-5 text-light">
                <a class="return-incomes-list btn btn-warning" href="{% url 'income:list' %}">Веруться к списку доходов</a>
                <form class="form mt-5" method="post">
                    {% csrf_token %}
                    {% bootstrap_form income_form layout='horizontal' %}
                    {% bootstrap_button button_text_create_income button_type="submit" button_class="add-income btn btn-primary"  %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}