{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}
{% load static %}
{% load humanize %}
{% load l10n %}
{% load comma %}

{% block title %}{% translate 'Информация о доходе' %}{% endblock %}

{% block content %}
    <div class="container">
        <div id="add-income" class="modal fade" >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Добавить новый доход
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ income_form.media }}
                        <form class="form" method="post">
                            {% csrf_token %}
                            {% bootstrap_form income_form layout='horizontal' horizontal_label_class='col-xl-4' horizontal_field_class='col-xl-8' %}
                            {% bootstrap_button button_text_create_income button_type="submit" button_class="add-income btn btn-primary"  %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="category-income" class="modal fade" >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Управление категориями дохода
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul class="list-group list-group-numbered list-group-flush">
                            {% for category in categories %}
                                <li class="list-group-item d-flex align-items">
                                    {{ category }}
                                    <form class="form-remove-category-button" method="post" action="{% url 'income:delete_category_income' category.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="category_income_id" value="{{ category.id }}">
                                        <button class="remove-object-button btn btn-outline-danger border-0 btn-small" data-nonce="{{request.csp_nonce}}" type="submit" name="delete_category_income_button">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"></path>
                                            </svg>
                                        </button>
                                    </form>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-bs-target="#add-category-income" data-bs-toggle="modal" data-bs-dismiss="modal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"></path>
                            </svg>
                            Добавить категорию
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="add-category-income" class="modal fade">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Добавить категорию дохода
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="form" method="post">
                            {% csrf_token %}
                            {% bootstrap_form add_category_income_form %}
                            {% bootstrap_button button_add_category button_type="submit" button_class='add-category-income btn btn-primary' %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="wrapper-table-income mt-5">
                    <table class="table table-sm table-hover align-middle text-center text-light table-bordered" aria-label="table income">
                        <thead>
                            <tr>
                                <th class="col-2">Категория дохода</th>
                                <th class="col-2">Период</th>
                                <th class="col-2">Сумма</th>
                                <th class="col-2">Счёт</th>
                                <th class="col-2">
                                    <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#add-income" title="Добавить новую доходную операцию">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0Zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5Z"/>
                                        </svg>
                                    </button>
                                    <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#category-income" title="Добавить категорию">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-layout-text-sidebar-reverse" viewBox="0 0 16 16">
                                            <path d="M12.5 3a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1h5zm0 3a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1h5zm.5 3.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5zm-.5 2.5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1h5z"></path>
                                            <path d="M16 2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2zM4 1v14H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h2zm1 0h9a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5V1z"></path>
                                        </svg>
                                    </button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for income in income_by_month %}
                                <tr>
                                    <td>{{ income.category__name }}</td>
                                    <td>{{ income.date | date:"F Y" }}</td>
                                    <td>{{ income.amount | comma }}</td>
                                    <td>{{ income.account__name_account }}</td>
                                    <td class="d-flex justify-content-center align-items-center table-buttons">
                                        <a href="{% url 'income:change' income.id %}" class="change-object-button btn btn-info border-0 btn-sm me-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"></path>
                                            </svg>
                                        </a>
                                        <form method="post" action="{% url 'income:delete_income' income.id %}">
                                            {% csrf_token %}
                                            <button class="remove-object-button btn btn-danger border-0 btn-sm" data-nonce="{{request.csp_nonce}}" type="submit" name="delete_income_button">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"></path>
                                                </svg>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
{% endblock %}