{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}
{% load static %}
{% load humanize %}
{% load l10n %}

{% block title %}{% translate 'Информация о доходе' %}{% endblock %}

{% block content %}
    <div class="container">
        {% include 'error_modal.html' %}
        {% include 'income/modals/add_income.html' %}
        {% include 'income/modals/add_category_income.html' %}
        {% include 'income/modals/show_category_income.html' %}
        {% include 'income/show_income.html' %}
    </div>
{% endblock %}
