{% load comma %}
{% load i18n %}

<div class="row">
    <div class="col-xl-12">
        <div class="wrapper-table-income mt-5">
            {% include "income/income_table.html" %}
            {% if income_by_month.has_other_pages %}
                <div class="btn-group mb-5" role="group"
                     aria-label="Item pagination">
                    {% if income_by_month.has_previous %}
                        <a href="?{{ request.GET.urlencode }}&income={{ income_by_month.previous_page_number }}"
                           class="btn btn-outline-light">&laquo;</a>
                    {% endif %}

                    {% for page_number in income_by_month.paginator.page_range %}
                        {% if income_by_month.number == page_number %}
                            <button class="btn btn-outline-light active">
                                <span>{{ page_number }} <span class="visually-hidden">(current)</span></span>
                            </button>
                        {% elif page_number >= income_by_month.number|add:-5 and page_number <= income_by_month.number|add:5 %}
                            <a href="?{{ request.GET.urlencode }}&income={{ page_number }}"
                               class="btn btn-outline-light">
                                {{ page_number }}
                            </a>
                        {% endif %}
                    {% endfor %}

                    {% if income_by_month.has_next %}
                        <a href="?{{ request.GET.urlencode }}&income={{ income_by_month.next_page_number }}"
                           class="btn btn-outline-light">&raquo;</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
