{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">
                        {% translate 'Добавить категорию дохода' %}
                    </h5>
                </div>
                <div class="card-body">
                    <a class="btn btn-primary btn-sm"
                       href="{% url 'income:create_category' %}">
                       {% translate 'Добавить категорию' %}
                    </a>
                    {% include "income/income_cat_list.html" %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
