{% load i18n %}
{% load crispy_forms_tags %}

<div id="add-category-expense" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {% translate 'Добавить категорию расхода' %}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form" method="post"
                      action="{% url 'expense:create_category' %}">
                    {% csrf_token %}
                    {{ add_category_form | crispy}}
                    <button type="submit" class="btn btn-primary">{% translate 'Добавить' %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
