{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}
{% load static %}
{% load humanize %}
{% load l10n %}
{% load comma %}

{% block title %}{% translate 'Кредиты' %}{% endblock %}
{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-12">
				<details class="ms-5 text-light">
					<summary class="btn btn-primary mb-2">Подсказка</summary>
					<p>
						Раздел &laquo;Кредиты&raquo; предназначен для контроля за взятыми кредитами.<br>
						<strong>Предупреждение:</strong>
						Поскольку каждый банк производит расчет коэффициента самостоятельно, как следствие, возникают различия в округлении получившихся цифр коэффициента. Данные, предоставленные банком и на этой странице, могут не совпадать!<br>
						Сведения, указанные банком, являются приоритетными, на текущей странице - справочной информацией для лучшего понимания по планированию бюджета!<br><br>
						Суммы рассчитываются согласно общепринятой формуле:<br><br>
						Расчёт ежемесячной процентной ставки:<br>
						<code class="text-light"><i>Ежемесячная ставка = Ежегодная ставка / 12 месяцев</i></code><br><br>
						Расчёт коэффициента:<br>
						<code class="text-light"><i>Коэффициент = Ежемесячная ставка * (1 + Ежемесячная ставка) ^ Срок кредита в месяцах / ((1 + Ежемесячная ставка) ^ Срок кредита в месяцах) - 1)</i></code><br><br>
						Расчёт ежемесячного платежа:<br>
						<code class="text-light"><i>Ежемесячный платёж = Сумма кредита * Коэффициент</i></code><br><br>
						<small>Примечание: / - деление, * умножение, ^ - возведение в степень</small>
					</p>
				</details>
			</div>
			<!-- /.col-xl-12 -->

		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
{% endblock %}
